@tailwind base;
@tailwind components;
@tailwind utilities;

/* Định nghĩa keyframes độc lập ở ngoài hoặc trong @layer utilities */
@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

@layer components {
    .svg-animation {
        stroke-dashoffset: 500;
        stroke-dasharray: 500;
        /* Gọi tên animation đã định nghĩa ở trên */
        animation: dash 3s linear forwards;
    }
}